.education {
  padding: 80px 0 41px 0
}

.education__body {
  padding: 40px 0 0 0;
}

.university {
  display: flex;
  min-height: 170px;
}

.university__1 {
  min-width: 250px;
  padding: 11px auto 0 auto;
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

.university__2 {
  padding: 0 30px 30px 30px;
  border-left: 1px solid rgb(191, 191, 191);
  border-right: 1px solid rgb(191, 191, 191);
  flex-grow: 1;
}

.university__3 {
  min-width: 200px;
  padding: 0 0 0 30px;
}

.university__2 span {
  display: block;
}

.university__name {
  font-size: 44px;
  margin: 0 0 10px 0;
}

.university__facultet {
  font-size: 32px;
  margin: 0 0 10px 0;
}

.university__direction {
  font-size: 24px;
  color: #fff;
}
.university__programm--link {
  font-size: 0.6em;
  border-radius: 10px;
  display: flex;
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}

.university__programm--link:hover {
  color: rgb(88, 88, 88);
  background-color: rgb(255, 255, 255);
}

.university__dates {
  font-size: 1.5em;
  padding: 3px;
  margin: 0 auto 20px auto;
}


.education__title span {
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.education__title--span {
  background: linear-gradient(
    121deg,
    rgba(240, 71, 255, 1) 0%,
    rgba(73, 255, 182, 1) 67%
  );
}
