.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__title {
  font-weight: 300;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.02em;
}

.hero__title span {
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__title--position {
  background: linear-gradient(
    121deg,
    rgba(240, 71, 255, 1) 0%,
    rgba(73, 255, 182, 1) 67%
  );
}

.hero__title--area {
  background: linear-gradient(
    90deg,
    rgba(71, 255, 175, 1) 0%,
    rgba(59, 220, 254, 1) 63%
  );
}
