.profile {
  padding: 80px 0 120px 0;
}

.profile__content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1em;

}

.profile__side {
  width: 600px;
  /* height: 600px; */
}

.profile__side--left {
  width: 600px;
  overflow: hidden;
  border-radius: 15px;
  border: 3px solid #fff;
  height: 600px;
}

.profile__side--left img {
  width: 100%;
  height: auto;
}

.profile__about {
  text-align: justify;
}

.profile__position {
  display: inline-block;
  color: #000;
  background: linear-gradient(
    121deg,
    rgba(240, 71, 255, 1) 0%,
    rgba(73, 255, 182, 1) 67%
  );
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.profile__city {
  color: rgb(138, 138, 138);
  font-size: 24px;
  display: block;
  margin-bottom: 15px;
}

/* 
.profile-side {
    width: 470px;
    height: inherit;
  }
  
  .profile-pic {
    overflow: hidden;
    background-image: url('../../img/profile_pic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #fff;
    border-radius: 15px;
  }
  
  .profile-pic img {
    height: 100%;
  }
  
  .profile-desc {
    font-size: 15px;
    padding-top: 20px;
  }
  
  .profile-points {
    color: var(--second-font-color);
  }
  
  .profile-points li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .profile-about {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: var(--second-font-color);
  }
  
  .icon {
    font-size: 20px;
    padding: 10px 10px;
    line-height: 1;
    border: 3px solid var(--main-icon-color);
    color: var(--main-icon-color);
    border-radius: 15px;
  }
  
  .profile-position {
    font-size: 38px;
  }
  
  .profile-name {
    width: 100%;
    font-size: 37px;
    font-family: 'Roboto', sans-serif;
  }
  
  .profile-social {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  
  .profile-social li a {
    cursor: pointer;
  }
  
  .social-img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    transition: box-shadow 0.5s;
  }
  
  .social-img:hover {
    box-shadow: 0 0 20px rgb(60, 250, 60); 
    box-shadow: 0 0 30px white;
  }
   */
