.skills {
  padding: 80px 0 41px 0;
  background-color: black;
  margin: 0 auto;
}

.skills__body {
  padding: 100px 0 0 0;
}

.skills__body-block {
  display: flex;
  align-items: stretch;
}

.skills-part {
  width: 50%;
  padding: 0 20px;  
}



.skills-part__left {
  text-align: right;
  border-right: 1px solid rgb(255, 255, 255);
}

.skills-part__right {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.skills-part__right-last{
  padding-bottom: 0;
}


.skills-part__right li {
  border-radius: 3px;
  margin: 0 10px 10px 0;
  padding: 10px;
  border: 1px solid white;
  color: #FFFFFF;
}

.skills-point {
  padding: 5px;
  margin: 0 10px 10px 0;
  border-radius: 3px;
  color: white;

  background: linear-gradient(
    90deg,
    rgb(71, 102, 255) 0%,
    rgb(72, 59, 254) 63%
  );
}

.skills-part__title {
  display: inline-block;
  border-radius: 5px;
  color: black;
  background: rgb(71, 255, 175);
  background: linear-gradient(
    90deg,
    rgba(71, 255, 175, 1) 0%,
    rgba(59, 220, 254, 1) 63%
  );
  padding: 10px;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.block-techs {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 240px;
  margin: 20px;
  box-shadow: 0px 0px 20px white;
}

.block-techs-title {
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  display: block;
  border-radius: 10px 10px 0 0;
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px 0;
}

.techs-list {
  margin: 20px;
}

.techs-list li {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

.skills-title {
  background-color: black;
  color: white;
}

.skills__title span {
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills__title--span {
  background: linear-gradient(
    121deg,
    rgba(240, 71, 255, 1) 0%,
    rgba(73, 255, 182, 1) 67%
  );
}
